<nav class="bg-blue-600 text-white shadow-md">
  <div class="container mx-auto flex items-center justify-between px-4 py-2">
    <!-- Logo -->
    <a href="#" class="text-xl font-bold hover:text-gray-200">ShortLinks</a>

    <!-- Navigation Links -->
    <div class="hidden space-x-6 md:flex">
      <!-- <a href="#" class="hover:text-gray-200">Home</a> -->
      <!-- <a href="#" class="hover:text-gray-200">About</a> -->
      <!-- <a href="#" class="hover:text-gray-200">Services</a> -->
      <!-- <a href="#" class="hover:text-gray-200">Contact</a> -->
      @if (email) {
        <div class="flex items-center justify-center space-x-4">
          <span *ngIf="email">Welcome, {{ email }}</span>
          <span *ngIf="email">|</span>
          <a
            href="#"
            (click)="logout()"
            class="rounded-md bg-blue-500 px-4 py-2 text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
          >
            Logout
          </a>
        </div>
      } @else {
        <a
          [routerLink]="['/login']"
          class="rounded-md bg-blue-500 px-4 py-2 text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
        >
          Login
        </a>
      }
    </div>
  </div>
</nav>
